#results, #CSharp, #JavaScript, #Python, #HTML {
  display: none;
  background-color: #f0efeb;
}
select {
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
}
input, button {
  margin-bottom: 1%;
  margin-top: 1%;
}
.centerImage {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}
.logoImage {
  float: right;
  height: auto;
  max-width: 8%;
}
label {
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: 600;
}
.langName {
  font-weight: bold;
  font-style: italic;
}
.container-fluid {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
body {
  background-color: #f0efeb;
  color: #474F40;
}
.card {
  margin-bottom: 25px;
}
.btn-outline-primary {
  background-color: #474F40;
  color: #ffffff;
  border: #474F40;
}
.display-4 {
  font-weight: 400;
}
.finalLang {
  text-decoration: underline;
}