#results, #CSharp, #JavaScript, #Python, #HTML {
  display: none;
  background-color: #ffffff;
}
select {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
input, button {
  margin-bottom: 1%;
  margin-top: 1%;
}
.centerImage {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}
.logoImage {
  float: right;
  height: auto;
  max-width: 8%;
}
label {
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: 600;
}
.langName {
  font-weight: bold;
  font-style: italic;
}
.jumbotron {
  background-color: #ffffff;
}
.container-fluid {
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
body {
  background-color: #ffffff;
  color: #474F40;
}
.card {
  margin-bottom: 25px;
}