#results, #CSharp, #JavaScript, #Python, #HTML {
  display: none;
  background-color: #ffffff;
}
select {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
input, button {
  margin-bottom: 1%;
  margin-top: 1%;
}
.centerImage {
  width: 50%;
  height: auto;
  margin: auto;
  display: block;
}
label {
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: 600;
}
.langName {
  font-weight: bold;
  font-style: italic;
}
.jumbotron {
  background-color: #70A9A1;
}
.container-fluid {
  padding-bottom: 15px;
  padding-top: 15px;
}
body {
  background-color: #ffffff;
}